html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  margin: 0;
  padding: 0; }

#mainContent {
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 300px;
  height: 250px;
  cursor: pointer;
  border: 1px solid red; }
  #mainContent img, #mainContent div {
    position: absolute; }

#logo {
  top: 2px; }

.copySpriteSheet {
  background: url("../img/copy.png") no-repeat;
  width: 214px;
  height: 113px;
  top: 72px;
  left: 43px; }

#img1 {
  width: 50px;
  height: 52px; }

#img2 {
  background-position: -93px -2px;
  width: 30px;
  height: 38px; }

#img3 {
  background-position: -136px -2px;
  width: 59px;
  height: 58px; }

#img4 {
  background-position: -52px -6px;
  width: 33px;
  height: 36px; }

#img5 {
  background-position: -55px -52px;
  width: 66px;
  height: 70px; }

#img6 {
  background-position: -134px -65px;
  width: 46px;
  height: 35px; }

#copyOne {
  background-position: -43px 0px; }

.fruit {
  background: url("../img/spritesheet.png") no-repeat; }

#fruitHolder {
  width: 300px;
  height: 250px;
  top: 0px;
  right: 0px; }
