html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

@mixin imgPlace($backGrImage, $type, $imgLeft, $imgTop, $imgWidth, $imgHeight, $opacity, $z-index...) {
  position: absolute;
  $url:"../img/#{$backGrImage}.#{$type}";
  background-image: url($url);
  left:$imgLeft;
  top:$imgTop;
  width:$imgWidth;
  height:$imgHeight;
  background-size: $imgWidth $imgHeight;
  background-repeat: no-repeat;
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  z-index: $z-index;
}

@mixin preloadImg($backGrImage, $type...) {
  position: absolute;
  $url:"../images/#{$backGrImage}.#{$type}";
  background-image: url($url);
  left: -999px;
  top: -999px;
}